In [7]:
import pandas as pd 
import boto3

In [2]:
train = pd.read_csv("/mnt/c/Users/james/data/optiver-trading-at-the-close/train.csv")

In [3]:
train.shape

(5237980, 17)

In [4]:
train.head()

,stock_id,date_id,seconds_in_bucket,imbalance_size,imbalance_buy_sell_flag,reference_price,matched_size,far_price,near_price,bid_price,bid_size,ask_price,ask_size,wap,target,time_id,row_id
0,0,0,0,3180602.69,1,0.999812,13380276.64,NaN,NaN,0.999812,60651.50,1.000026,8493.03,1.0,-3.029704,0,0_0_0
1,1,0,0,166603.91,-1,0.999896,1642214.25,NaN,NaN,0.999896,3233.04,1.000660,20605.09,1.0,-5.519986,0,0_0_1
2,2,0,0,302879.87,-1,0.999561,1819368.03,NaN,NaN,0.999403,37956.00,1.000298,18995.00,1.0,-8.389950,0,0_0_2
3,3,0,0,11917682.27,-1,1.000171,18389745.62,NaN,NaN,0.999999,2324.90,1.000214,479032.40,1.0,-4.010200,0,0_0_3
4,4,0,0,447549.96,-1,0.999532,17860614.95,NaN,NaN,0.999394,16485.54,1.000016,434.10,1.0,-7.349849,0,0_0_4

In [5]:
train.head(n=1000).to_parquet("../FeastDynamoDB/feast_project/optimiver_trading/feature_repo/data/train.parquet",index=False)

In [8]:
s3_client = boto3.client("s3")

In [9]:
from io import BytesIO
parquet_buffer = BytesIO()
train.to_parquet(parquet_buffer, index=False)

In [10]:
s3_client.put_object(Bucket="optiver-bucket-jamesdvance", Key="train.parquet", Body=parquet_buffer.getvalue())

{'ResponseMetadata': {'RequestId': 'FRZCFX0KSFZ3N0PY',
  'HostId': 'Zbtty8kNg8n+iIxg5H5vcQmFcvNfgqag4+uqRfnHTgtu1BA4slusgRF8wbxGVg99Zue23GflkZJWWC9ltJ7nFA==',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amz-id-2': 'Zbtty8kNg8n+iIxg5H5vcQmFcvNfgqag4+uqRfnHTgtu1BA4slusgRF8wbxGVg99Zue23GflkZJWWC9ltJ7nFA==',
   'x-amz-request-id': 'FRZCFX0KSFZ3N0PY',
   'date': 'Sun, 15 Oct 2023 18:10:26 GMT',
   'x-amz-version-id': 'cZ.OjpfHTRy0zeUtI.BPaKR.5zhQOvIj',
   'x-amz-server-side-encryption': 'AES256',
   'etag': '"9dc54b1109bf64312b58b0de95b3305d"',
   'server': 'AmazonS3',
   'content-length': '0'},
  'RetryAttempts': 0},
 'ETag': '"9dc54b1109bf64312b58b0de95b3305d"',
 'ServerSideEncryption': 'AES256',
 'VersionId': 'cZ.OjpfHTRy0zeUtI.BPaKR.5zhQOvIj'}